@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:toknerb;
    src:  url("../src/assests/font/gothicb.ttf") format('truetype');
  }
@font-face {
    font-family:tokner;
    src:  url("../src/assests/font/CenturyGothic.ttf") format('truetype');
  }

@layer components {
    .bgBlur {
        background-image: url("/src/assests/images/bgblur.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(10deg);
        height: 951px;
        width: 80vw;
        filter: blur(100px);
        position: absolute;
        z-index: -10;
        top: -50px;
        left: 200px;

    }
    .bgBlur1 {
        background-image: url("/src/assests/images/footerblur.svg");
        background-repeat: no-repeat;
        transform: rotate(-10deg);
        filter: blur(100px);
        position: relative;
        margin-top: -1150px;
        left: 200px;
        height: 951px;
        overflow: hidden;
        overflow-x: hidden;
        z-index: -10;
     

    }
    body{
        overflow-x: hidden;
     
    }

    .greenButtonShadow {
        box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.25);
    }

    .creatorShadow {

        filter: drop-shadow(0px 15px 25px rgba(34, 167, 93, 0.25));
    }

    .holderShadow {

        filter: drop-shadow(0px 15px 25px rgba(34, 120, 212, 0.25));
    }
    .coming{
        background-color: #171B29;
        border-radius: 25px;
        content: "";
    }
    .bgpresale{
        background-image: url("./assests/images/presale.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bgpresaleiphone{
        background-image: url("./assests/images/iphonebgpresale.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .customCenteredSlide {
        padding: 0 8px 0 0 !important; /* Adjust the margin as needed */
      }
    .colorfull{
        background-image: url("/src/assests/images/colorfull.svg");
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}