@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bgBlur {
        background-image: url("/src/assests/images/bgblur.svg");
        background-repeat: no-repeat;
        transform: rotate(-65deg);
        width: 1856px;
        height: 951px;
        filter: blur(100px);
        position: absolute;
        top: -480px;
        left: 339px;
        right: -558px;
        /* background-position:-480px -558 0 439px ; */
        z-index: -10;
        overflow: hidden;

    }

    .greenButtonShadow {
        box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.25);
    }

    .creatorShadow {

        filter: drop-shadow(0px 15px 25px rgba(34, 167, 93, 0.25));
    }

    .holderShadow {

        filter: drop-shadow(0px 15px 25px rgba(34, 120, 212, 0.25));
    }
}